@import "compass";
@import "twitter-bootstrap.css";

$white: #FFF;
$black: #000;
$gray: #BEBEBE;
$green: #7FBE42;
$dark-green: darken($green, 20%);
$back: #F7F7F7;
$blue: #5B7CE0;
$dark: #484A4C;
$dark_grey: #717171;
$red: #FF0000;
$light_red: #FEF1EC;

.green{ color: $green; }
.dark-green{ color: $dark-green;}
body{
  text-align: center;
  padding: 0px;
  margin: 0px;
  font-size: 13px;
  background: $back url("../images/fondo2.png") repeat-x 0px -30px;
}

h1, h2, h3{ font-family: muli, arial, serif; }
a{
  color: darken( $green, 20% );
  img{ border: none; }
  text-decoration: none;
  &:hover{ 
    text-decoration: underline;
    color: darken($green, 25%);
  }
}
ul{
  margin: 4px;
  padding: 4px 12px;
  text-align: justify;
  li{ padding: 4px 0px; }
}

/* Estilos*/
.but{
  display: inline-block;
}
.clear{ clear: both; 
}
.light-gray{ background-color: lighten($gray, 20%);}
.pad-10{ padding: 10px; }
.pad-20{ padding: 20px; }
.no-list{ list-style: none;}

/**************************************************************/

#wrapper{
  //width: 900px;
  text-align: left;
  margin: 0px auto 60px;
  //border-radius: 4px 4px 8px 8px;
}


#header{
  position: relative;
  height: 70px;
  #logo{
    position: absolute;
    top: 10px;
    left: 20px;
  }
  #login{
    @include single-box-shadow(#51A351, 0, 0, 12px);
    @include single-text-shadow(#265B25, 1px, 1px);
    position: absolute;
    top: 16px;
    right: 40px;
    //color: $white;
    //@include border-radius(3px);
    //background-color: lighten($green, 10%);
    //padding: 3px 7px;// 3px 3px 22px;
    //font-size: 14px;
    //font-weight: bold;
    //text-decoration: none;
    //font-family: muli, arial, serif;
    //text-shadow: 1px 1px 2px #7F7F7F;
    //box-shadow: 2px 2px 5px darken($green, 20%);
    //&:hover{
    //  background-color: darken($green, 10%);
    //}

  }
  #menu{
    list-style: none;
    position: absolute;
    top: 10px;
    left: 260px;

    li{
      display: inline;
      float: left;
      a{
        display: block;
        margin: 0px 5px;
        font-family: 'Muli', arial, serif;
        color: darken($green, 15%);
        text-decoration: none;
        font-size: 22px;
        &:hover{ color: $green; }
        @include single-text-shadow( darken($gray, 20%), 1px, 1px);
      }
      a.selected{ 
        color: $green;
        text-shadow: 2px 2px 2px darken($gray, 20%);
        -moz-text-shadow: 2px 2px 2px darken($gray, 20%);
        -webkit-text-shadow: 2px 2px 2px darken($gray, 20%);
      }
    }
  }
}
#home{
  //background: transparent url(imagenes_video.png) no-repeat;
  h1.n{
    margin: 5px 0;
  }
  height: 411px;
  position: relative;
  #register{
    position: absolute;
    top: 50px;
    right: 140px;
  }

  #title{
    position: absolute;
    width: 380px;
    padding: 0px;
    color: $white;
    font-family: 'Muli', arial, serif;
    top: 50px;
    right: 25px;
    h2{
      font-weight: normal; 
      font-size: 18px;
      color: white;
    }
  }
  #video{
    @include single-box-shadow(#000, 5px, 5px, 5px);
    position: absolute;
    display:block;
    width: 512px;
    height: 319px;
    top: 50px;
    left: 5px;
  }

  #demo-link{
    @include box-shadow();
    position: absolute;
    top: 270px;
    right: 130px;
  }
}
#banner{
  position: relative;
  #demo-link{
    @include box-shadow();
    position: absolute;
    top: 30px;
    right: 10px;
  }
}

.ui-dialog{
  position: absolute;
  background-color: lighten($black, 10%);
  z-index: 1000;
  top: 40px;
  //left: 100px;
  //width: 660px;
  height: 410px;
  .ui-dialog-titlebar-close{
    position: absolute;
    top: -27px;
    right: -27px;
    background: url("/images/close_exit.png") no-repeat scroll -3px -3px transparent;
    z-index: 2000;
    display: block;
    width: 43px;
    height: 43px;
    z-index: 2000;
    text-indent: -2000em;
  }
}
.ui-widget-overlay{
  background-color: $black;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
}

#modal{
  width: 100%;
  height: 100%;
  z-index: 100;
  background: #000;
  opacity: 20%;
}

#boxes{
  margin: 20px 0 0;
  clear: both;
}
.box{
  @include border-radius(6px);
  padding: 10px 15px;
  height: 170px;
  background-color: lighten(gray, 45%);
  h3{ 
    color: $dark-green;
  }
  p{
    margin: 5px 0;
  }
  img{ margin: 4px 10px;}
}
#buttons{
  padding: 15px;
}
.footer{
  background: url(../images/back-black.png);
}
#footer{
  text-align: left;
  margin: 50px 0;
  padding: 25px 0;
  clear: both;
  color: darken(white, 30%);
  .links{
    margin-bottom: 30px;
    text-align: center;
    a{
      margin: 0 5px;
    }
  }
}

#banner{
  background: #46af26; /* Old browsers */
  background: -moz-linear-gradient(left, #46af26 0%, #5daf1a 17%, #396b17 36%, #46af26 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#46af26), color-stop(17%,#5daf1a), color-stop(36%,#396b17), color-stop(100%,#46af26)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #46af26 0%,#5daf1a 17%,#396b17 36%,#46af26 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #46af26 0%,#5daf1a 17%,#396b17 36%,#46af26 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #46af26 0%,#5daf1a 17%,#396b17 36%,#46af26 100%); /* IE10+ */
  background: linear-gradient(left, #46af26 0%,#5daf1a 17%,#396b17 36%,#46af26 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46af26', endColorstr='#46af26',GradientType=1 ); /* IE6-9 */
  position: relative;
  margin: 0px;
  padding: 0px; 
  height: 99px;

  h2{ 
    margin: 0px;
    top: 80px;
    color:darken(white, 0%);
    font-weight: normal; 
    font-size: 30px;
    @include text-shadow(black, 0px, 2px, 0px);
    padding: 20px 30px;
  }
  #register{
    position: absolute;
    top: 20px;
    right: 30px; 
  }
}

/* CSS de Contactnos*/
#contact{
  input, textarea{
    font-size: 1.5em;
  }
  label{
    display: block;
    font-weight: bold;
  }
}
input[type=text], textarea{
  border: 2px solid darken($gray, 10%);
  padding-left: 3px;  
  padding-top: 6px;
  font-weight: normal;
}

.fl{ float: left; }
._30{ width: 29%; }
._35{ width: 34%; }
._65{ width: 64%; }
._70{ width: 69%; }
.b{ font-weight: bold; }

ul.team{
  list-style: none;
  padding: 0px;
  margin: 0px;

  li{
    width: 49%;
    float: left;
    h3{ color: darken($green, 20%);}
    p{ padding: 0px 10px 5px 5px; }
  }
  img{
    float: left;
    margin-right: 3px;
    border: 4px solid lighten($black, 40%);
  }
}

//#linea{
//  margin-top: 50px;
//  margin-bottom: 10px;
//  width: 50%;
//  height: 1px;
//  background: darken($green, 10%);
//}
#media{
  margin-top: 40px;
  clear: both;
}

// Pirces
#prices{
  .price{
    @include border-top-radius(4px);
    @include border-bottom-radius(8px);
    border: 1px solid lighten(gray, 20%);
    background: darken(white, 7%);
    .title{
      margin: 10px;
      //@include border-top-radius(3px);
      //background-color: $dark-green;
      //color: white;
      padding: 4px;
      //text-align: center;
      font-size: 1.7em;
      .n{
        font-size: 1.15em;
      }
      h1, h2{
        @include single-text-shadow(white, 1px, 1px, 0);
        margin: 8px 0;
        padding: 0;
      }
      h1{
        font-size: 1.9em;
      }
      small{
        font-size: 0.4em !important;
        color: darken(gray, 20%) !important;
      }
    }

    ul{
      margin: 10px;
      list-style: none;
      li{
        margin: 0 15px 0 0;
      }
    }
  }
}
ul.plans-list{
  list-style: none;
  padding: 0px;
  margin: 15px 0  0;
  li{
    margin: 1px 0;
  }
}

.n{ font-weight: normal; }

label{
  font-weight: bold !important;
  color: gray;
}
