- content_for :title do
  Planse y Precios
#banner
  %h2 Planes y Precios

  = render "demo_link"

%br

#prices.row-fluid
  .span4
    .price
      .title
        %h2
          %span.tip(title="bonsai pequeño tamaño de una palma") SHOHIN
        %h1 
          %span.n 20 
          %small 
            %span(title="Dólares americanos") USD
            por mes

      %ul
        %li
          %h4
            2
            %span.n Usuarios
        %li
          %h4 
            %span.n Base de datos de 
            %span(title="100 Megabytes de almacenamieto") 100 MB
  .span4
    .price
      .title
        %h2
          %span.tip(title="bonsai mediano tamaño de 2 palmas") CHIU
        %h1
          %span.n 40
          %small 
            %span(title="Dólares americanos") USD
            por mes

      %ul
        %li 
          %h4 
            5
            %span.n Usuarios
        %li 
          %h4
            %span.n Base de datos de
            %span(title="500 Megabytes de almacenamieto") 500 MB

  .span4
    .price
      .title
        %h2
          %span.tip(title="bonsai GRANDE") OMONO
        %h1
          %span.n 70
          %small 
            %span(title="Dólares americanos") USD
            por mes

      %ul
        %li 
          %h4
            10
            %span.n Usuarios
        %li 
          %h4
            %span.n Base de datos de 
            %span(title="1000 Megabytes de almacenamieto") 1000 MB

%br
%br
.span12
  %h4 Todos Los planes incluyen:
  %ul.plans-list
    %li
      %i.icon-ok
      No hay costos de instalación
    %li
      %i.icon-ok
      Clientes y Proveedores ilimitados
    %li
      %i.icon-ok
      Compras y Ventas ilimitadas
    %li
      %i.icon-ok
      Multiples monedas
    %li 
      %i.icon-ok
      Copias diarias de seguridad de la Base de datos ( Backups )
    %li 
      %i.icon-ok
      Soporte via correo electrónico

